/**
  http://eslint.cn/docs/user-guide/configuring
*/
{
  "env": {
    "browser": true
  },
  "extends": ["airbnb"],
  "parserOptions": {
    "ecmaFeatures": {
        "experimentalObjectRestSpread": true,
        "jsx": true
    },
    "sourceType": "module"
  },
  "parser": "babel-eslint",
  "rules": {
    "class-methods-use-this": 0, // 0|off 关闭、1|warn 开启警告级别、2|error 开启错误级别
    "import/no-named-as-default": 0,
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".js", ".jsx"]
      }
    ]
  }
}